@media(min-width: 576px) and (max-width: 767.98px){
    .container-fluid{
        width: 600px;
    }

    .color-droite{
        width: 100%;
    }

}

@media(min-width: 768px) and (max-width: 991.98px){
    .container-fluid{
        width: 800px;
    }

    .color-droite{
        width: 100%;
    }
}

@media(min-width: 992px) and (max-width: 1199.98px){
    .container-fluid{
        width: 1000px;
    }

    .color-droite{
        width: 100%;
    }
}
@media(min-width: 1200px){
    .container-fluid{
        width: 1300px;
    }

    .color-droite{
        width: 100%;
    }
}